* {
    margin: 0;
    padding: 0;
}

.componente:hover {
    cursor: pointer;
}

.transformador {
    height: 30px;
    width: 30px;
}

.no {
    border-radius: 100%;
    height: 15px;
    width: 15px;
}